{% load i18n %}

<template v-if="context.user">
    <v-menu location="bottom">
        <template #activator="{ props }">
            <v-btn v-bind="props">[[ context?.user.username ]]</v-btn>
        </template>
        <v-list>
            {% block user-menu %}{% endblock %}
            <v-divider></v-divider>
            <v-list-item link prepend-icon="mdi-cog" title="{% trans "My Account" %}"
                href="{% url 'ox_core:account' %}"></v-list-item>
            <v-list-item link prepend-icon="mdi-logout" title="{% trans "Log out" %}"></v-list-item>
        </v-list>
    </v-menu>
</template>
<template v-else>
    <v-btn href="{% url 'login' %}">Login</v-btn>
</template>
