{% comment %}
Render a panel component.

Context:
- `tag="ox-model-panel`: component's tag
- `attrs`: component's attributes
- `filters`: if true, add `list-filters` block
- `actions`: path to item's action django template.

Block:
- `slots`: component's body.
- `list-filters`: `list.filters` slot (scope: `{list, filters}`).
- `nav-detail`: `nav.detail` slot (scope: `{panels, panel, list, item}`)
{% endcomment %}

{% block outer %}
{% with tag|default:"ox-model-panel" as tag %}
<{{ tag }} {{ attrs }}>
    {% block slots %}
    {% if filters %}
    <template #list.filters="{filters,list}">
        {% block list-filters %}{% endblock %}
    </template>
    {% endif %}

    {% if actions %}
    <template #item.actions="bind">
        {% block actions %}{% endblock %}
        {% include actions with bind="bind" %}
    </template>
    {% endif %}
    {% endblock %}

    <template #nav.detail="{panels,panel,list,item}">{% block nav-detail %}{% endblock %}</template>
</{{ tag }}>
{% endwith %}
{% endblock %}
