{% extends "./base.html" %}
{% load i18n ox %}

{% block head-title %}
    {% block title %}{{ block.super }}{% endblock %} | {{ block.super }}
{% endblock %}

{% block app %}
{{ block.super }}
{% if not no_panels %}
    <template #app-nav="{app}">{% block app-nav %}{% endblock %}</template>
{% endif %}

<template #panels>
    {% for panel in panels.get_panels %}
    {% if panel.url|startswith:app_config.label %}
    {% include panel.template %}
    {% endif %}
    {% endfor %}
</template>
{% endblock %}
