@use "vuetify/lib/styles/settings/_variables" as *;

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-top { vertical-align: top; }
.text-bottom { vertical-align: bottom; }


.height-full { height: 100%; }
.width-full { width: 100%; }

.flex-row { display: flex; flex-direction: row; }
.flex-column { display: flex; flex-direction: column; }
.justify-right { justify-content: right !important }

.al-center { align: center }
.als-flex-end { align-self: flex-end }
.als-flex-end { align-self: flex-end }
.as-center { align-self: center }

.grow-0 { flex-grow: 0; }
.grow-1 { flex-grow: 1; }
.grow-2 { flex-grow: 2; }
.grow-3 { flex-grow: 3; }
.grow-4 { flex-grow: 4; }
.grow-5 { flex-grow: 5; }
.grow-6 { flex-grow: 6; }

.text-success { color: rgb(var(--theme-success)) }
.text-error { color: rgb(var(--theme-error)) }
.text-warning { color: rgb(var(--theme-warning)) }



/**
 * Provide a grid of three columns (reduce to two or one on smaller screens).
 */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    // based on Vuetify's breakpoints
    @media (max-width: 1280px) { grid-template-columns: repeat(2, 1fr) }
    @media (max-width: 960px) { grid-template-columns: 1fr }
}
