
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-top { vertical-align: top; }
.text-bottom { vertical-align: bottom; }


.height-full { height: 100%; }
.width-full { width: 100%; }

.flex-row { display: flex; flex-direction: row; }
.flex-column { display: flex; flex-direction: column; }
.justify-right { justify-content: right }

.al-center { align: center }
.als-flex-end { align-self: flex-end }
.als-flex-end { align-self: flex-end }
.as-center { align-self: center }

.grow-0 { flex-grow: 0; }
.grow-1 { flex-grow: 1; }
.grow-2 { flex-grow: 2; }
.grow-3 { flex-grow: 3; }
.grow-4 { flex-grow: 4; }
.grow-5 { flex-grow: 5; }
.grow-6 { flex-grow: 6; }

.text-error { color: rgb(var(--theme-error)) }
