{% extends "ox/core/app.html" %}
{% load i18n %}

{% block app %}
{{ block.super }}
<template #panels.persons>
    {% block persons %}
    {% with "ox/contacts/components/person_actions.html" as actions %}
        {% include "ox/core/components/model_panel.html" with tag="ox-person-panel" name="persons" %}
    {% endwith %}
    {% endblock %}
</template>
<template #panels.organisations>
    {% block organisations %}
    {% include "ox/core/components/model_panel.html" with tag="ox-organisation-panel" name="organisations" %}
    {% endblock %}
</template>
<template #panels.organisationtypes>
    {% block organisation-types %}
        {% include "ox/core/components/model_panel.html" with tag="ox-organisation-type-panel" name="organisationtypes" %}
    {% endblock %}
</template>
{% endblock %}
