{% extends "./base.html" %}
{% load i18n ox %}

{% block head-title %}
    {% block title %}{{ block.super }}{% endblock %} | {{ block.super }}
{% endblock %}

{% block app %}
{{ block.super }}
{% if not no_panels %}
    <template #app-nav="{context}">{% block app-nav %}{% endblock %}</template>
{% endif %}

{% for panel in panels.get_panels %}
{% if panel.url|startswith:app_config.label %}
<template #panels.{{ panel.name }}>
    {% include panel.template %}
</template>
{% endif %}
{% endfor %}
{% endblock %}
